{% extends 'base.html.twig' %}

{% block body %}
    <h1>Espectaculo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espectaculo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ espectaculo.nombre }}</td>
            </tr>

            <tr>
                <th>Sala</th>
                <td>{{ espectaculo.sala }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ espectaculo.tipo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ espectaculo.description }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ espectaculo.imagen }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('espectaculo_index') }}">Volver a la lista</a>
        </li>
    </ul>
{% endblock %}
