{% extends 'base.html.twig' %}

{% block body %}
    <h1>Espectador</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espectador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ espectador.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ espectador.apellido }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ espectador.dni }}</td>
            </tr>
            <tr>
                <th>Fecha nacimiento</th>
                <td>{% if espectador.fechanac %}{{ espectador.fechanac|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('espectador_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('espectador_edit', { 'id': espectador.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
