{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipoespectaculo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoEspectaculo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoEspectaculo.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipoespectaculos_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('tipoespectaculos_edit', { 'id': tipoEspectaculo.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
